<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true">
    <!--App name-->
    <variable name="applicationName" value="Gaidai"/>
    <!--Log format-->
    <targets async="true">
        <target name="jsonFile" xsi:type="File" fileName="${basedir}/Log/NLog.Errors.json" maxArchiveFiles="7" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" archiveFileName="${basedir}/Log/NLog.Error.{##}.json">
            <layout xsi:type="JsonLayout">
                <attribute name="timestamp" layout="${longdate}" escapeUnicode="false"/>
                <attribute name="team" layout="services" escapeUnicode="false"/>
                <attribute name="env" layout="${environment:ASPNETCORE_ENVIRONMENT}" escapeUnicode="false"/>
                <attribute name="app" layout="${applicationName}" escapeUnicode="false"/>
                <attribute name="level" layout="${level:uppercase=true}" escapeUnicode="false"/>
                <attribute name="action" layout="${aspnet-mvc-action}" escapeUnicode="false"/>
                <attribute name="controller" layout="${aspnet-mvc-controller}" escapeUnicode="false"/>
                <attribute name="method" layout="${aspnet-request-method}" escapeUnicode="false"/>
                <attribute name="class" layout="${logger}" escapeUnicode="false"/>
                <attribute name="url" layout="${aspnet-request-url}" escapeUnicode="false"/>
                <attribute name="client" layout="${aspnet-request-ip}" escapeUnicode="false"/>
                <attribute name="message" layout="${message}" escapeUnicode="false"/>
                <attribute name="machinename" layout="${machinename}" escapeUnicode="false"/>
                <attribute name="X-API-Secret" layout="${aspnet-request:header=X-API-Secret}" escapeUnicode="false"/>
                <attribute name="X-Authenticated-Userid" layout="${aspnet-request:header=X-Authenticated-Userid}" escapeUnicode="false"/>
                <attribute name="X-Ati-User-Attributes" layout="${aspnet-request:header=X-Ati-User-Attributes}" escapeUnicode="false" />
                <attribute name="exceptionString" layout="${onexception:${exception:format=@}}" escapeUnicode="false"/>
                <attribute name="logContext" layout="${event-properties:logContext}" escapeUnicode="false"/>
                <attribute name="metricString" layout="${event-properties:metricString}" escapeUnicode="false" />
                <attribute name="metricSource" layout="${event-properties:metricSource}" escapeUnicode="false" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Warn" writeTo="logStash" />
        <logger name="*" minlevel="Warn" writeTo="jsonFile" />
    </rules>
    
</nlog>